In [ ]:
###cheatsheet
##Data retrieval
-SELECT
-FROM
-WHERE
-DISTINCT

##Sorting and limiting
-ORDER By
-LIMIT

##aliasing
-As

##Grouping
-GROUP By
-HAVING

In [2]:
import sqlite3

#connection
conn= sqlite3.connect('im.db')

#cursor
cursor = conn.cursor()

You can now use that cursor to execute the SQL

In [3]:
sql_request_1 ="""
SELECT name
FROM sqlite_master
WHERE type ='table';       #use ;to close the sql command
"""
#or below
#sql_request_2 = "SELECT name FROM sqlite_master WHERE type ='table';"
#sql_request_3 ="SELECT * FROM sqlite_master;"

In [4]:
cursor.execute(sql_request_1)
cursor.fetchall()

Warning: You can only execute one statement at a time.

In [5]:
CREATE TABLE people (
  id INTEGER PRIMARY KEY,
  name TEXT,
  age INTEGER,
  email TEXT
);

SyntaxError: invalid syntax (<ipython-input-5-892275afc55f>, line 1)

In [11]:
import sqlite3

# open (or create) a local SQLite file
conn = sqlite3.connect("my_database.sqlite")
cur = conn.cursor()

# run SQL as a Python string
cur.execute("""
CREATE TABLE IF NOT EXISTS people (
  id INTEGER PRIMARY KEY,
  name TEXT,
  age INTEGER,
  email TEXT
);
""")

conn.commit()

# verify table exists
#cur.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='people';")
#print("Table created:", cur.fetchone() is not None)

#conn.close()

In [14]:
SELECT name, age
FROM people
WHERE age > 25
LIMIT 100;

SyntaxError: invalid syntax (<ipython-input-14-76fe6873a41b>, line 1)

In [12]:
# check all tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in database:", cur.fetchall())



conn.close()

Tables in database: [('people',)]

In [13]:
# see the columns in your table
cur.execute("PRAGMA table_info(people);")
print("Columns in 'people' table:")
for col in cur.fetchall():
    print(col)


conn.close()

ProgrammingError: Cannot operate on a closed database.

In [ ]:

# check all tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in database:", cur.fetchall())

# see the columns in your table
cur.execute("PRAGMA table_info(people);")
print("Columns in 'people' table:")
for col in cur.fetchall():
    print(col)

conn.close()

In [15]:
import sqlite3

# create or open database
conn = sqlite3.connect("my_database.sqlite")
cur = conn.cursor()

# create table
cur.execute("""
CREATE TABLE IF NOT EXISTS people (
  id INTEGER PRIMARY KEY,
  name TEXT,
  age INTEGER,
  email TEXT
);
""")

# insert sample data
cur.execute("INSERT INTO people (name, age, email) VALUES ('Bob', 29, 'bob@flatironschool.com');")
cur.execute("INSERT INTO people (name, age, email) VALUES ('James', 28, 'james@flatironschool.com');")
conn.commit()

# show tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables:", cur.fetchall())

# show rows
cur.execute("SELECT * FROM people;")
rows = cur.fetchall()
for r in rows:
    print(r)

conn.close()

Tables: [('people',)]
(1, 'Bob', 29, 'bob@flatironschool.com')
(2, 'James', 28, 'james@flatironschool.com')